<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Antri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Antri.Properties.Settings>
            <setting name="PollingRateInMillis" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Loket" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>jamkesmas</value>
            </setting>
            <setting name="DatabaseUsername" serializeAs="String">
                <value>jamkesmas</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>Antri.log</value>
            </setting>
        </Antri.Properties.Settings>
    </userSettings>
</configuration>