<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorAntrian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonitorAntrian.Properties.Settings>
            <setting name="PollingRateInMillis" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TextLoket" serializeAs="String">
                <value>Loket: </value>
            </setting>
            <setting name="TextNomer" serializeAs="String">
                <value>Nomor: </value>
            </setting>
            <setting name="TextJudul1" serializeAs="String">
                <value>Badan Layanan Umum Daerah</value>
            </setting>
            <setting name="TextJudul2" serializeAs="String">
                <value>RSUD Prof. Dr. W.Z. Johannes</value>
            </setting>
        </MonitorAntrian.Properties.Settings>
    </userSettings>
</configuration>